name: flutter_application_tflow
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  image: ^4.5.4
  image_picker: ^1.2.1
  tflite_flutter: ^0.12.1
  speech_to_text: ^7.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/models/mobilenet_v1_1.0_224.tflite
    - assets/models/labels.txt
